<!doctype html>
<html class="no-js fixed-layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %} - Mol</title>
        <meta name="description" content="这是一个 index 页面">
        <meta name="keywords" content="index">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="apple-mobile-web-app-title" content="Amaze UI" />
        <meta name="csrf-token" content="{{ csrf_token() }}" />
        <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
        <style rel="stylesheet">
        {% block style %}
            .header {text-align: center;}
            .header h1 {font-size: 200%;color: #333;margin-top: 30px;}
            .header p {font-size: 14px;}
        {% endblock %}
        </style>
    </head>

    <body>
        {% block content %} {% endblock %}

        {% block footer %}
            <div class="am-text-default am-text-center">&copy; 2014 ~ {{ "now"|date('Y', timezone="Asia/Shanghai") }} 陕西君远信息科技股份有限公司</div>
        {% endblock %}
    </body>

</html>