<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a> 以获得更好的体验！</p>
<![endif]-->

        <header class="am-topbar admin-header">
            <div class="am-topbar-brand">
                <strong>当老师</strong> <small>在线考培管理系统</small>
            </div>
            <div class="am-collapse am-topbar-collapse">
                <div class="am-topbar-right">
                    <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle> {{ user.realname }} <span class="am-icon-caret-down"></span></button>
                        <ul class="am-dropdown-content admin-box-shadow">
                            <li><a href="javascript:void(0)" class="pending"><span class="am-icon-user"></span> 资料</a></li>
                            <li><a href="javascript:void(0)" class="pending"><span class="am-icon-cog"></span> 设置</a></li>
                            <li><a href="/auth/logout" class="logout_arch"><span class="am-text-danger am-icon-power-off"> 退出</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
