<!doctype html>
<html class="no-js fixed-layout">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %} - Mol</title>
        <meta name="description" content="这是一个 index 页面">
        <meta name="keywords" content="index">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="renderer" content="webkit">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <meta name="apple-mobile-web-app-title" content="当老师" />
        <link rel="stylesheet" href="/assets/man/css/amazeui.flat.min.css"/>
        <link rel="stylesheet" type="text/css" href="/assets/man/css/alertify.core.css" />
        <link rel="stylesheet" type="text/css" href="/assets/man/css/alertify.default.css">
        <link rel="stylesheet" href="/assets/man/css/admin.css" />
        <link rel="stylesheet" href="/assets/man/css/app.css" />
        {% block styles %}
        {% endblock %}
        <style rel="stylesheet">
            .header {text-align: center;}.header h1 {font-size: 200%;color: #333;margin-top: 30px;}.header p {font-size: 14px;}
        {% block customStyle %}
        {% endblock %}
        </style>
    </head>

    <body>
        {% block header %}
        <header class="am-topbar">
            <h1 class="am-topbar-brand">当老师 - 在线考试管理系统</h1>
        </header>
        {% endblock %}
        <div class="am-cf admin-main" id="admin-main-body">
        {% block content %}{% endblock %}
        </div>

        {% block footer %}
            {# <div class="am-text-default am-text-center">&copy; {{ "now"|date('Y', timezone="Asia/Shanghai") }} 西安睿晟企业管理咨询有限公司</div> #}
        {% endblock %}

        {% block bottom %}
            <script data-main="/assets/man/js/assets/main" src="/assets/man/js/require.js"></script>
        {% endblock %}
    </body>

</html>