{% extends 'man.layout' %}

{% block title %}用户登录{% endblock %}

{% block content %}
        <div class="am-g">
            <div class="header">
                <h1>系统管理员登陆</h1>
                <p>物流交易平台结算中心</p>
            </div>
        </div>

        <div class="am-g" style="margin-top:2em;">
            <div class="am-u-sm-12 am-u-md-8 am-u-lg-4 am-u-sm-centered">
                <div class="am-cf am-panel am-panel-primary admin-box-shadow">
                    <div class="am-panel-hd">管理员登录</div>
                    <div class="am-cf am-panel-bd">
                        <form action="/auth/login" id="login_form" method="post" accept-charset="utf-8">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}" />
                            <div class="am-form">
                                <div class="am-form-group am-form-icon">
                                    <i class="am-text-primary am-icon-user"></i>
                                    <input type="text" id='username' name='username' class="am-form-field" placeholder="输入您的登录账号" value="{{ old('username') }}" />
                                </div>
                                <div class="am-form-group am-form-icon">
                                    <i class="am-text-secondary am-icon-lock"></i>
                                    <input type="password" id='password' name='password' class="am-form-field" placeholder="输入登录密码" />
                                </div>
                            </div>
                            <!-- div id="imgcode_span" class="am-form" style="display:none">
                                <div class="am-g">
                                    <div class="am-u-sm-12 am-u-md-8">
                                        <div class="am-form-group am-form-icon">
                                            <i class="am-text-warning am-icon-question"></i>
                                            <input type="text" id='imgcode' name='imgcode' class="am-form-field" placeholder="验证码" />
                                        </div>
                                    </div>
                                    <div class="am-form-group am-u-sm-12 am-u-md-4"><img id="imgCode" src="/index.php/vcode" /></div>
                                </div>
                            </div -->
                            <label for="remember-me">
                                <input id="remember-me" name="remember" type="checkbox" /> 记住我
                            </label>
                            <div class="am-cf"><input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl" /></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

