{% extends 'layout.twig' %}


{% block title %}出错啦{% endblock %}

{% block style %}
.header {text-align: center;}
.header h1 {font-size: 200%;color: #333;margin-top: 30px;}
.header p {font-size: 14px;}
{% endblock %}

{% block content %}
<div class="header">
    <div class="am-g">
        <h1>君远CRM</h1>
    </div>
    <hr />
</div>

<div class="am-g">
    <div class="am-u-sm-4 am-u-sm-centered">
        <h2>出错啦</h2>
        <hr />
        <div class="am-alert-default am-text-default am-text-danger">
            {{ message }}
        </div>
        <hr />
        <a href="{{ location }}" class="am-btn am-btn-primary">返回</a>
        <hr />
        <p class="am-text-center">© &copy; 2014 ~ {{ "now"|date('Y', timezone="Asia/Shanghai") }} 陕西君远信息科技股份有限公司</p>
    </div>
</div>
{% endblock %}
