/**
 * admin.css
 */

ul {
  margin-top: 0;
}

.admin-icon-yellow {
  color: #ffbe40;
}
.admin-icon-blue {
  color: #09c;
}

.admin-header {
  font-size: 1.4rem;
  margin-bottom: 0;
  border-bottom:2px solid #39f;
}

.admin-header-list a:hover :after {
  content: none;
}

.admin-main {
  background: #gainsboro;
  font-size:14px;
}

.admin-sidebar {
	/*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);*/
}

.admin-sidebar-list > li > a {font-weight:bold;}

.admin-sidebar {
  width: 260px;
  height: 100%;
  float: left;
  border-right: 1px solid #cecece;
}

.admin-sidebar-list {
  margin-bottom: 0;
}

.admin-sidebar-list li a {
  color: #5c5c5c;
  padding-left: 24px;
}

.admin-sidebar-list li:first-child {
  border-top: none;
}

.admin-sidebar-sub {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5px;
}
.admin-parent ul {
	border-top:1px solid #09c;
}
.admin-sidebar-sub li {
	background-color:#f0f0f0;border-color:#d5d5d5;
            box-shadow: 0 0 0px rgba(255,255,255, 0);
    -webkit-box-shadow: 0 0 0px rgba(255,255,255, 0);
       -moz-box-shadow: 0 0 0px rgba(255,255,255, 0);
    -webkit-transition: -webkit-transform 0.4s ease-out;
            transition: transform 0.4s ease-out;
       -moz-transition: -moz-transform 0.4s ease-out;
}
.admin-sidebar-sub li.admin-sub-check, li.admin-sub-check {
	border-top:none;
	background-color:#fff;
            box-shadow: 0px 0px 6px rgba(0, 153, 220, .8);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 153, 220, .8);
       -moz-box-shadow: 0px 0px 6px rgba(0, 153, 220, .8);
            transform: translateX(5px);
	-webkit-transform: translateX(5px);
       -moz-transform: translateX(5px);
}
.admin-sidebar-sub li:hover {
            box-shadow: 0px 0px 6px rgba(0, 153, 220, .8);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 153, 220, .8);
       -moz-box-shadow: 0px 0px 6px rgba(0, 153, 220, .8);
            transform: translateX(5px);
	-webkit-transform: translateX(5px);
       -moz-transform: translateX(5px);
}
.admin-sidebar-sub li.admin-sub-check a, .admin-sidebar-sub li a:hover {
	color:#333;
	background-color:#fff; /*rgba(116, 205, 255, 1);*/
}

.admin-sidebar-panel {
  margin: 10px;
}

.admin-content {
  width: auto;
  overflow: hidden;
  height: 100%;
  min-height:700px;
}
.admin-nav-content {

}
.admin-page-content
{
	height:100% !important;
}
.admin-bordered-table {
	border: 1px solid #ccc;
}
.admin-bordered-table th {border-bottom:0px !important;}

.admin-content-list {
  border: 1px solid #e9ecf1;
  margin-top: 0;
}

.admin-content-list li {
  border: 1px solid #e9ecf1;
  border-width: 0 1px;
  margin-left: -1px;
}

.admin-content-list li:first-child {
  border-left: none;
}

.admin-content-list li:last-child {
  border-right: none;
}

.admin-content-table a {
  color: #535353;
}
.admin-content-file {
  margin-bottom: 0;
  color: #666;
}

.admin-content-file p {
  margin: 0 0 5px 0;
  font-size: 1.4rem;
}

.admin-content-file li {
  padding: 10px 0;
}

.admin-content-file li:first-child {
  border-top: none;
}

.admin-content-file li:last-child {
  border-bottom: none;
}

.admin-content-file li .am-progress {
  margin-bottom: 4px;
}

.admin-content-file li .am-progress-bar {
  line-height: 14px;
}

.admin-content-task {
  margin-bottom: 0;
}

.admin-content-task li {
  padding: 5px 0;
  border-color: #eee;
}

.admin-content-task li:first-child {
  border-top: none;
}

.admin-content-task li:last-child {
  border-bottom: none;
}

.admin-task-meta {
  font-size: 1.2rem;
  color: #999;
}

.admin-task-bd {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.admin-content-comment {
  margin-bottom: 0;
}

.admin-content-comment .am-comment-bd {
  font-size: 1.4rem;
}

.admin-content-pagination {
  margin-bottom: 0;
}
.admin-content-pagination li a {
  padding: 4px 8px;
}

/*
* user.html css
*/
.user-info {
  margin-bottom: 15px;
}

.user-info .am-progress {
  margin-bottom: 4px;
}

.user-info p {
  margin: 5px;
}

.user-info-order {
  font-size: 1.4rem;
}

/*
* errorLog.html css
*/

.error-log .am-pre-scrollable {
  max-height: 40rem;
}

.admin-default-footer {
	margin-top:10px;
	padding:10px 0px;
	text-align:center;
	line-height:180%;
	color:#333;
	position:relative;
}
.admin-login-footer {display:none;}
@media only screen and (min-height: 600px) {
	.admin-login-footer {
	  display:block;
	  position:relative;
	  bottom:0px;
	  text-align:center;
	  background:#333;
	  color:#f0f0f0;
	  padding:10px 0px;
	  text-align:center;
	  width:100%;
	}
}

.admin-default-footer strong {color:#9df}
.admin-default-footer strong:hover {text-decoration:underline;}

/*
 *	表格演示
*/
.table-main {font-size: 1.4rem;padding: .5rem;}
.table-main button {background: #fff;}
.table-check {width: 30px;}
.table-id {width: 50px;}

/*
 *	图片列表
 */
.gallery-list li {padding: 10px;}
.gallery-list a {color: #666;}
.gallery-list a:hover {color: #3bb4f2;}
.gallery-title {margin-top: 6px;font-size: 1.4rem;}
.gallery-desc {font-size: 1.2rem;margin-top: 4px;}

/*
 *	404.html css
 */
.page-404 { background: #fff; border: none; width: 200px; margin: 0 auto; }

.admin-bread-nav {
	margin-top:0px;padding-top:15px;border: 1px solid #c0c0c0;border-top:none;margin-bottom:10px;background-color:#ffffff;
}
.admin-bread-nav li:before {color:#333 !important;}
.admin-bread-nav span[class*="am-icon-"]:before {color:#c39;}
.admin-bread-nav .am-active {color:#393}

.kalendae .k-days span.closed {background:red;}

.act-i-panel {height:auto;}

.activity-create-topic-img, .user-topic-img {
	display:blcok;
	height:213px;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:50% 50%;
	background-repeat:no-repeat;
	background-image:url('/shellext/i/image.png');
/*	box-shadow:0px 0px 10px rgba(30, 85, 45, 0.5) inset;*/
	border:1px dotted rgb(30, 85, 45);
	border-radius:5px;
}
.user-topic-img {
	-moz-background-size:auto !important;
	-webkit-background-size:auto !important;
	-o-background-size:auto !important;
	background-size:auto !important;
}

.club-logo-img {
	width:240px;
	height:80px;
	-moz-background-size:auto;
	-webkit-background-size:auto;
	-o-background-size:auto;
	background-size:auto;
	background-image:url('/shellext/i/image.png');
	background-position:50% 50%;
	background-repeat:no-repeat;
/*	box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);*/
}

/*
 *　幻灯片设置
 */
#settings-carousel { width:720px;margin:0px auto;transition:all 0.3s;}
#settings-carousel img {width:720px;height:320px;}
/*
#settings-carousel:before
{
  position: absolute; background-color: rgba(0,0,0,0.1); display: block; top: -1px; right: -41px; width: 41px; line-height: 41px; position: absolute;
  font-family: ZenIcon; font-size: 28px; text-align: center; color: #fff; transition: all ease-in-out .3s;
}
#settings-carousel:hover
{
  box-shadow:0px 1px 15px rgba(0,0,0,0.5);
  -webkit-animation-name: glow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out
  -webkit-backface-visibility: hidden;
}
#settings-carousel:hover:before{ text-shadow:1px 1px 1px rgba(0,0,0,0.5); background: #47a447;}
*/
/*
#settings-carousel:hover {border:1px solid #0099cc;box-shadow:0px 1px 5px rgba(0, 153, 204, 0.5);}
*/


/*
 *	活动批次设置
 */
.act-launch-table {margin-bottom:0px;border:0px;width:100%;}
.act-launch-table thead, .act-launch-table th {border-bottom-width:0px !important;}
.act-launch-table tbody, .act-launch-table td  {border-top-width:0px !important;border-bottom-width:0px !important;}
.act-launch-table { counter-reset: batch; }
.act-launch-table tr small:first-child { counter-increment: batch; line-height:300%}
.act-launch-table tr small:first-child:before {content:counter(batch);}
.act-launch-table tr td:first-child {text-align:center;}
.act-launch-table tr td span {line-height:240%;display:block;text-align:center;font-weight:bold;cursor:pointer;}
.act-launch-table tr span:before { text-align:center;content: "x";}
.act-launch-table tr span:hover {color:#09c;}

.act-main-body, .act-main-box, .act-main-box-right {
	background-color:#fff;margin:10px 15px 10px 15px;padding:10px 0px 10px 0px;
}
.act-main-body {
	min-height:600px;height:100%;
}
.act-box-shadow {}
.admin-radius-5 {
  border-radius: 4px;
}
.admin-box-shadow {
	-moz-box-shadow: 0px 0px 10px rgba(99,99,99,0.5);
	-webkit-box-shadow: 0px 0px 10px rgba(99,99,99,0.5);
	box-shadow: 0px 0px 10px rgba(99,99,99,0.5);
}
.act-main-box-right {margin-left:0px;}
.act-no-margin {margin:0px !important;}
.act-no-padding {padding:0px !important;}
.act-no-padding-bottom {padding-bottom:0px !important;}
.act-no-padding-left {padding-left:0px !important;}
.act-no-padding-top {padding-top:0px !important;}
.act-no-padding-right {padding-right:0px !important;}
.act-pb-10 {padding-bottom:10px !important;}
.act-pt-10 {padding-top:10px !important;}
.act-mt-10 {margin-top:10px !important;}

.act-bread-nav-padding {padding:0px 15px 0px 15px;margin-bottom:0px;}

.admin-table-caption {border:1px solid #ccc;padding:8px;border-bottom:0px;border-radius:5px 5px 0px 0px;font:bold 14px/20px verdana;background-color:#f6f6f6;}

.table-item-icon {width:60px;}
.table-item-title {max-width:100%;width:auto;}
.table-item-4c {width:100px;}
.table-item-6c {width:140px;}
.table-item-8c {width:180px;}
.table-item-1o {width:100px;}

@keyframes myfirst {
	0% {background:transparent;}50% {background:#a0d0f0;}100% {background:#transparent;}
}
@-moz-keyframes myfirst {
	0% {background:transparent;}50% {background:#a0d0f0;}100% {background:#transparent;}
}
@-webkit-keyframes myfirst {
	0% {background:transparent;}50% {background:#a0d0f0;}100% {background:#transparent;}
}
@-o-keyframes myfirst {
	0% {background:transparent;}50% {background:#a0d0f0;}100% {background:#transparent;}
}

.tabletrhilight {
	animation:myfirst 1s ease-in-out 0s infinite;
	-moz-animation:myfirst 1s ease-in-out 0s infinite;
	-webkit-animation:myfirst 1s ease-in-out 0s infinite;
	-o-animation:myfirst 1s ease-in-out 0s infinite;
}
