{% extends 'layout.twig' %}

{% block title %}用户登录{% endblock %}

{% block content %}
<div class="header">
    <div class="am-g">
        <h1>君远CRM</h1>
    </div>
    <hr />
</div>

<div class="am-g">
    <div class="am-u-sm-4 am-u-sm-centered">
        <h2>用户登录</h2>
        <hr />

        <form method="post" class="am-form">
            <input type="hidden" name="_token" value="{{ csrf_token() }}" />
            <label for="username">账号:</label>
            <input type="text" name="username" id="username" placeholder="输入您的登录账号" class="am-input-lg" />
            <br />
            <label for="password">密码:</label>
            <input type="password" name="password" id="password" placeholder="输入登录密码" class="am-input-lg" />
            <br />
            <label for="remember-me">
                <input id="remember-me" name="rememer" type="checkbox" /> 记住密码
            </label>
            <br />
            <br />
            <div class="am-cf">
                <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-fl">
                <input type="submit" name="" value="找回密码 ^_^? " class="am-btn am-btn-default am-fr">
            </div>
        </form>
        <hr />
    </div>
</div>
{% if errors|length > 0 %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors.all() %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}

